body{color:#fff;background-color:#000;font-family:sans-serif;margin:1rem}button{margin-right:1rem;margin-left:0;font-size:5em;padding:20px;background-color:#4e4c4c;color:#fff;border-width:2px;border-style:none;border-radius:10px}
