body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    margin: 1rem;
}

button {
    margin-right: 1rem;
    margin-left: 0;
    font-size: 5em;
    padding: 20px;
    background-color: rgb(78, 76, 76);
    color: white;
    border-width: 2px;
    border-style: none;
    border-radius: 10px;
}