body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    margin: 1rem;
}

h2 {
    width: 100%;
    font-size: 2em;
    color: rgb(161, 212, 127);
    opacity: 0.7;
}

button {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 0;
    font-size: 3em;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(78, 76, 76);
    color: white;
    border-width: 2px;
    border-style: none;
    border-radius: 10px;
}